<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: aqua;
            text-shadow: 1cap;
        }
    </style>
</head>
<body>
    <center>
        <h1>this is my first  content send backend to frontend</h1>
        <h1>if-coditions</h1>
        {% if a > b %}
            {% if a > c %}
            <h1>a is max {{a}}</h1>
            {% else %}:
            <h1>c is max {{c}}</h1>
            {% endif %}
        {% else %}
        <h1>b is max{{b}}</h1>
        {% endif %}
    </center>
    
</body>
</html>